---
import AppLayout from '../components/AppLayout.astro';
import HighLights from '../components/HighLights.astro';
import HighLightCard from '../components/HighLightCard.astro';
---
<AppLayout BannerText='Desarrollo web'>
  <section id="main" class="wrapper">
    <div class="inner">
      <div class="content">
        <header>
        <h2>Desarrollo de páginas web</h2>
        </header>
        <br>
        
        <h3>¿Qué ofrecemos?</h3>
        <table cellpadding="0" cellspacing="0">	
          <p>- Asesoramiento a la hora de digitalizar tu negocio</p>
          <p>- Alojamiento de correo electrónico y página web</p>
          <p>- Desarrollo web</p>
          <p>- Mantenimiento de páginas web</p>
        </table>
      </div>
      <h2>Algunos de nuestros trabajos</h2>
      <HighLights>
        <HighLightCard 
            title='Observatotio Sociedad Digital'
            text='Web con portfolio de publicaciones, articulos, libros, recursos de ayuda'
            img='/images/web/osd.jpg'
            link=''
          />
          <HighLightCard 
            title='Agroturismo Urrutia'
            text='Desarrollo de una web para una casa de turismo rural'
            img='/images/web/agroturismourrutia.jpg'
            link='https://agroturismourrutia.com/'
          />
          <HighLightCard 
            title='Panificadora Lakua'
            text='Web de presentación, productos y contacto'
            img='/images/web/panlakua.jpg'
            link='https://panificadoralakua.com/'
          />
        </HighLights>
        <HighLights>
        <HighLightCard 
            title='Industrias Kaldea'
            text='Corrección de fallos en la web y nuevo contenido'
            img='/images/web/kaldea.jpg'
            link='https://kaldea.es/'
          />
          <HighLightCard 
            title='CM10 Gestión de proyectos'
            text='Web con portfolio de proyectos siguiendo el estilo de la web antigua'
            img='/images/web/cm10.jpg'
            link='https://cm10.es/'
          />
          <HighLightCard 
            title='Valor Óptimo'
            text='Web corporativa de tipo landing page'
            img='/images/web/valoroptimo.jpg'
            link='https://valoroptimo.com/'
          />
        </HighLights>
        <HighLights>
        <HighLightCard 
            title='Hotel el Coto'
            text='Web corporativa con reservas de habitaciones'
            img='/images/web/hotelelcoto.jpg'
            link='https://www.hotelelcoto.es/'
          />
          <HighLightCard 
            title='Climavitoria'
            text='Web corporativa con portfolio de servicios'
            img='/images/web/climavitoria.jpg'
            link='https://climavitoria.com/'
          />
        </HighLights>
    </div>
  </section>
</AppLayout>