---
import AppLayout from '../components/AppLayout.astro';
import Testimonials from '../components/Testimonials.astro';
import TestimonialCard from '../components/TestimonialCard.astro';
---
<AppLayout BannerText='Servicio Empresas'>
  <section id="main" class="wrapper">
    <div class="inner">
      <div class="content">
        <header>
        <h2>Venta, Mantenimiento y Reparación</h2>
        </header>
        <br>			
        <h3>Empresas</h3>
        <table cellpadding="0" cellspacing="0">			 	
          <p>- Servicio Integral del Sistema Informático</p>
          <p>- Rentings Ordenadores Sobremesa y Portátiles</p>
          <p>- Servicio de reparación "0 day"</p>
          <p>- Servicio Puntual de Incidencias</p>
          <p>- Bonos de Mantenimiento para Empresas</p>
          <p>- Servicios de BACK-UP Remotos</p>
          <p>- Instalación de Sistemas de CCTV</p>
          <p>- Servicio de reparación "0 day"</p>
          <p>- Instalación y Mantenimiénto de Servidores, Firewalls, Equipos de Redes...</p>
          <p>- Monitorización de los servidores desde nuestras instalaciones</p>
          <p>- Instalación y personalización de sistemas FIREWALL</p>
          <p>- Instalación y personalización de sistemas NAS</p>
          <p>- Venta de Material Informatico</p>
          <p>- Instalación de Pizarras Interactivas</p>
          <p>- Servicio de reparación "0 day"</p>
          <p>- Instalación de Proyectores en pared, techo, moviles...</p>
          <p>- Venta de Televisores de gran formato</p>
          <p>- Asesorarmiento</p>
          <p>- Coordinación de instalaciones informáticas en obra.</p>
        </table>
      </div>
    </div>
  </section>
  <Testimonials>
    <TestimonialCard 
      text='Instalación radio enlace Airmax en Vitoria con la finalidad de unir dos punto a una distancia de 2,5 km con una tasa de transferencia de 150Mb/s'
      credit='E.O.'
    />
    <TestimonialCard 
      text='Plataforma web para el monitoreo y contabilidad de los consumos de agua fria, calefaccion y ACS para comunidades de vecinos'
      credit='Instalaciones Fojansa S.L.'
    />
    <TestimonialCard 
      text='Instalacion del sistema CCTV con camaras de tecnologia IP con servidores Qnap unidos mediante fibra óptica'
      credit='Cascos Maquinaria S.A.'
    />
  </Testimonials>
</AppLayout>