---
import AppLayout from '../components/AppLayout.astro';
---
<AppLayout BannerText='Servicio Particulares'>
  <section id="main" class="wrapper">
    <div class="inner">
      <div class="content">
        <header>
        <h2>Venta, Mantenimiento y Reparación</h2>
        </header>
        <br>
        
        <h3>Particulares</h3>
        <table cellpadding="0" cellspacing="0">	
          <p>- Asesoramiento a la hora de Comprar Equipos Informáticos</p>
          <p>- Venta de Ordenadores Fijos y Portátiles</p>
          <p>- Reparación de Ordenadores</p>
          <p>- Reparación de Consolas</p>
          <p>- Reparación de pantallas de portátiles rotas</p>
          <p>- Instalación de Sistemas de CCTV</p>
          <p>- Cursos de Informatica</p>
        </table>
      </div>
    </div>
  </section>
</AppLayout>