---
import AppLayout from '../components/AppLayout.astro';
---
<AppLayout BannerText='Soporte Técnico'>
  <section id="main" class="wrapper">
    <div class="inner">
      <div class="content">
        <header>
        <h2>Control Remoto</h2>
        </header>
        <p>Para poder servirle mejor, usamos un sistema de control remoto totalmente seguro, únicamente es necesario que descargues la aplicacion correspondiente a tu sistema operativo</p>
        
        
        <h3></h3>
            
        <td width="50%"><a href="../descargas/Remoto.exe"><img src="images/windows.png"></a></td>
          
        <h3></h3>
                
        <td width="50%"><a href="../descargas/Remotomac.dmg"><img src="images/mac.png"></a></td>
        
      </div>
    </div>
  </section>
</AppLayout>