---
import Banner from '../components/Banner.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Scripts from '../components/Scripts.astro';
import Head from '../components/Head.astro';
export interface Props {
  BannerText: string
}
const { BannerText } = Astro.props;
---
<html lang="es">
	<Head />
	<body>
		<Header />

		<Nav />

		<Banner text={BannerText}/>
		
		<slot />

    <Footer />
    <Scripts />
	</body>
</html>