---
export interface Props {
    text: string
  }
  const { text } = Astro.props;
---
<section id="banner">
  <div class="inner">
    <h1><img src="/images/lesslan.png"></h1>
    <p>{text}<br />
    </p>
  </div>
  <video autoplay loop muted playsinline src="/images/banner.mp4"></video>
</section>