<head>
  <meta charset="utf-8" />
  <title>LessLan Informática Vitoria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Asesoramiento a la hora de Comprar Equipos Informáticos, Venta de Ordenadores Fijos y Portátiles, Reparación de Ordenadores, Reparación de Consolas, Reparación de pantallas de portátiles rotas, Instalación de Sistemas de CCTV, Cursos de Informatica, Rentings Ordenadores Sobremesa y Portátiles, Instalación y personalización de sistemas FIREWALL, Instalación y personalización de sistemas NAS, Instalación de Pizarras Interactivas, Servicios de BACK-UP Remotos, Asesorarmiento, Fibra Optica, armarios rack, cableado estructurado, teletrabajo, wifi" />
  <meta name="keywords" content="Asesoramiento a la hora de Comprar Equipos Informáticos, Qnap, netgate, pfsense, eset, desol, apple, ubiquiti, mmconecta, leviton, cashlogy azkoyen, excel, lenovo, hp, WiFi, hoteles Venta de Ordenadores Fijos y Portátiles, Reparación de Ordenadores, Reparación de Consolas, Reparación de pantallas de portátiles rotas, Instalación de Sistemas de CCTV, Cursos de Informatica, Rentings Ordenadores Sobremesa y Portátiles, Instalación y personalización de sistemas FIREWALL, Instalación y personalización de sistemas NAS, Instalación de Pizarras Interactivas, Servicios de BACK-UP Remotos, Asesorarmiento, Fibra Optica, armarios rack, cableado estructurado, teletrabajo, wifi" />
  <meta name="author" content="LessLan Informatica Vitoria" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>