<nav id="menu">
  <ul class="links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/particulares">Particulares</a></li>
    <li><a href="/empresas">Empresas</a></li>
    <li><a href="/desarrollo-web">Desarrollo web</a></li>
    <li><a href="/soporte">Soporte</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>