---
export interface Props {
	credit: string;
  text: string;
}
const { credit, text } = Astro.props;
---
<section>
  <div class="content">
    <blockquote>
      <p>{text}</p>
    </blockquote>
    <div class="author">
      <div class="image">
        <!--<img src="images/pic01.jpg" alt="" />-->
      </div>
      <p class="credit">- <strong>{credit}</strong><span></span></p>
    </div>
  </div>
</section>