<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Instalaciones de éxito</h2>
      <p></p>
    </header>
    <div class="testimonials">
      <slot />
    </div>
  </div>
</section>